*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', serif;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  font-weight: 400;
  white-space: nowrap;
}

/* Type */

h1 {
  font-family: 'Poiret One', sans-serif;
}

h1 {
  line-height: 1.3;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

h2 {
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #e05ca2;/*#444*/
}

blockquote {
  border-left: 5px solid #ddd;
  margin: 40px 1em;
  padding-left: 12px;
  font-style: italic;
  color: #666;
}

@media (max-width: 960px) {
  h1 {
    font-size: 30px;
  }
  header .container ul.meta {
    margin-bottom: 0;
  }
}

/* Header & Article */

header,
article {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal;
}

.container {
  padding: 100px 50px;
  width: 100%;
}

@media (max-width: 960px) {
  article {
    display: block;
    padding-top: 120px;
  }
  .container {
    padding: 25px;
  }
}

/* Header */

header {
  position: relative;
  width: 30%;
  background-repeat: no-repeat;
  background-position: center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


@media (max-width: 960px) {
  header {
    width: 100%;
  }
  header {
    height: auto;
    background-image: none !important;
    position: fixed;
  }
  h3 a.side-menu{
  display: inline-block !important;
  padding-right: 10px;
  }
  a.side-menu img{
    display: none;
  }
  #home-header .container{
    padding: 0 !important;
  }
  .mobile-header{
    display: none !important;
  }
  /*
  .top-container{
   background-color:#fff !important;
 }**/
 .mobile-title{
  display: inline-block !important;
  font-weight: light;
 }
 h3.style, h3.style a{
  margin-top: .2em !important;
  margin-bottom: 0 !important;
 }
 .mySlides img{
  width: 400px;
  height: auto;
 }

}

header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

header .container {
  padding: 0 50px;
  z-index: 1;
  position: relative;
}


@media screen and (min-width: 961px){
  #home-header .container {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  header .container {
    position: absolute;
    top: 0;
  }
  header .container.post-container {
    padding: 0;
    position: relative;
    height: 100%;
  }

  header .post-container .inner-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding: 0 50px;
  }
  #myBtn{display: none;}
  .skills{
    display:inline-block; vertical-align:top; width: 47%;
  }
  .skills:last-child{
     padding-left:2em;
  }
}

@media screen and (max-width: 960px){
  #home-header .container {
    padding: 100px 50px;
  }

  header .container {
    padding: 80px 0 10px;
  }
  header .container .inner-container {
    padding: 0 50px;
  }
}

header .home_button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-align: center;
  background-image: url(../images/icon_home_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

header .home_button:hover {
  background: #fff;
  background-image: url(../images/icon_home_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #ce2323;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

header ul.meta {
  margin-top: 45px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px){
  header ul.meta {
    margin-top: 10px;
  }
}

#home-header ul.meta {
  margin-top: 5px;
}

header ul.meta li {
  display: inline-block;
  margin-right: 25px;
  line-height: 20px;
  color: #777;
}

header ul.meta li span {
  margin-right: 10px;
  font-style: italic;
  color: #777;
  font-size: 16px;
}

/* Pagination */

@media screen and (min-width: 961px){
  .pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }  
}

@media screen and (max-width: 960px){
  .pagination {
    margin-top: 40px;
    padding: 0 10px;
  }  
}

.pagination:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.pagination a {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.pagination a:hover {
  background: #fff;
  color: #4051A2;
}

/* Article */

article {
  width: 70%;
  overflow-x: hidden;
  background-color: #fff;
}


article .container {
  padding-top: 0px;
}

@media (max-width: 960px) {
  article {
    width: 100%;
    overflow: visible;
  }
  article .container {
    padding: 25px !important;
  }
}

article p {
  margin-bottom: 1em;
  color: #444;
}

article li {
  margin-left: .5em;
  margin-bottom: 9px;
  list-style-type: disc;
}

@media (max-width: 960px) {
  article li {
    margin-left: 2em;
  }
}

article a {
  color: #444;
  text-decoration: underline;
}

article a:hover {
  text-decoration: underline;
}

/* Posts List */

ul.posts li {
  list-style-type: none;
  /*border-bottom: 1px solid #eeeeee;*/
}

ul.posts .meta {
  display: block;
  margin-bottom: 16px;
  color: #8d8d8d;
}

ul.posts p {
  margin-bottom: 36px;
}
ul.posts li h2 {
  font-size: 21px;
}
ul.skills{
  padding-left:1.5em; 
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
ul.skills li{
  color: #777;
}
hr {
  border:1px solid #eee;
}
.top-container{
  height:100%; width:100%;
  background-color: /*rgba(224, 92, 162, .99); */ rgba(93, 89, 171, .98);
  /*background-image: url('/images/bg.png');
  background-position: bottom center;
  background-repeat: no-repeat;*/
}
.floating-box {
    display: inline-block;
    width: 220px;
    margin: 1px;
    height: 300px;
    box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
  -webkit-box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
  -o-box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
    margin-top: 1em;
    border-radius: 5px;
    color: #7b7b7b;
     margin-right:1em;
}
.floating-box img{
  border-radius: 4px;
}
.floating-box:first-child{
  margin-left:5px;
}/**
.floating-box:hover{
  box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
  -webkit-box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
  -o-box-shadow:  0 10px 30px 3px rgba(0,0,0,0.15);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  color: #727272;
  transform: perspective( 600px ) rotateY( 45deg );
}*/
/** Brand Color */
.floating-box p{padding-left:1em; font-weight:300; background:#fff; font-size:13px;}
.portfolio-images{
  width:100%;
}
article .content{
  margin-top: 6em;
  margin-bottom: 2em;
}
.content-child{
  margin-top: 1.8em;
}
article .content>h2{
  font-weight: 400;
}
.content-link{
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.content-link:hover{
  text-decoration: none;
}
h3.style, h3.style a{
  color:#fff; font-family: 'Oxygen', serif; font-style:; font-size:17px; font-weight:100; margin-top:.75em; margin-bottom: .75em;
}
h3.style a, a.style, a.style:hover{text-decoration: none;}
h3 a.active{font-weight: bold !important;}
div.style-element{
  background:; padding:30px; border-radius:4px;
}
.img-style{
  /**border:3px solid #f5f5f5; **/width:100%; border-radius:5px;
}
h3 a.side-menu{
  display: block;
}
.side-menu img{
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
#myBtn {
  display: ; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e05ca2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
.mybutton {
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e05ca2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  text-decoration: none;
}
a.mybutton:hover{
  text-decoration: none;
}